/AboExtensions.Tests/bin
/AboExtensions.Tests/obj
/AboExtensions/.vs/AboExtensions/CopilotIndices
/AboExtensions/.vs/AboExtensions/FileContentIndex
/AboExtensions/.vs/ProjectEvaluation
/AboExtensions/.vs/AboExtensions
/AboExtensions/bin
/AboExtensions/obj
pat.txt
